.titulo {
	font-size:16px;
	font-weight: bold;
	color:#3A6B3A;
	
}

.division  {
	/*margin:0 auto 0 auto; */
	margin-left:20px;	
	width:98%;	
	
}

.tabla {
	width:100%;
	border:10px;	
}

.tabla th {
	background-color:#D3D6BC;
	font-weight: bold;	
	font-size: 12px;
}

.tabla td{
	width:100%;
	text-align: left;
	font-size: 12px;
	
}
	

.hc {			
	background:#2E2EFE;
	color:fff;	
}
.ht {
	background:#D3D6BC;
}
