#fm{
	margin:0;
	padding:10px 30px;
}
.dtitle{
	font-size:14px;
	font-weight:bold;
	padding:5px 0;
	margin-bottom:10px;
	border-bottom:1px solid #ccc;
}
.ditem{
	margin-bottom:5px;
}
.ditem label{
	display:inline-block;
	width:150px;
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}
.ditem input {
	font-size: 20px;
}